<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Us</title>
    <link rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/logstyle.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"rel="stylesheet"/>
  </head>
  <body>
    <div class="c-box">
      <h1>Contact Us</h1>
      <form>
        <label for="cname">Name</label>
        <input id="cname" type="cname" placeholder="" />
        <label for="cemail">Email</label>
        <input id="cemail" type="cemail" placeholder="" />
        <label for="cdescription">Description</label>
        <textarea id="cdescription" cols="40" rows="8"placeholder=""></textarea>
        <button class="cbutton"><a href="/index.html">Submit</a></button>
      </form>
    </div>
  </body>
</html>