<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="logged_in.css">
</head>
<body>
    <nav>
        <a href="#" style="border-right: 2px solid black; padding: 5px;">BHAINAS</a>
        <h3>We Value Your Time and Money</h3>
        <a href="/logout" style="border-left: 2px solid black; padding: 5px; font-size: 25px;">Log Out</a>
    </nav>

    <div class="about-container">
        <img src="logo.png"/>
    </div>
    

    <div class="box-container">
        
        <div class="box-1">
            <form action="">
               
                <input type="text" id="name" placeholder="Enter your name">
                <input type="text" id="address" placeholder="Enter your address">
               
                <select name="service" id="service">
                    <option value="masion">Masion</option>
                    <option value="gardener">Gardener</option>
                    <option value="barber">Barber</option>
                    <option value="bhainas">Bhainas</option>
                </select>
            </form>
            
            <button id="submit">SUBMIT</button>
        </div>

        <div class="box-2">
            <form action="">
                
                <input type="text" id="name" placeholder="Enter your name">
                <input type="text" id="address" placeholder="Enter your address">
                <select name="service" id="service">
                    <option value="masion">Masion</option>
                    <option value="gardener">Gardener</option>
                    <option value="barber">Barber</option>
                    <option value="bhainas">Bhainas</option>
                
                </select>
            </form>
            
            <button id="submit">SUBMIT</button>
        </div>

        <div class="box-3">
            <form action="">
               
                <input type="text" id="name" placeholder="Enter your name">

                <input type="text" id="address" placeholder="Enter your address">

                <select name="service" id="service">
                    <option value="masion">Masion</option>
                    <option value="gardener">Gardener</option>
                    <option value="barber">Barber</option>
                    <option value="bhainas">Bhainas</option>
                </select>
            </form>
            
            <button id="submit">SUBMIT</button>
        </div>
    </div>

    <div class="footer">
            
        <h3>BHAINAS</h3>
    <p>Our Website is still under Development.</p>
    <p>If you have any queries please feel free to ping us in our Contact Us Section.</p>
    <p>We will get back to you as soon as possible.</p>
    <p>Copyright &copy;2021 BHAINAS</p>
   
</div>
</body>
</html>